.headerDiv{
    display: flex;
    margin-right: calc(2.25rem * var(--tw-space-x-reverse));
    margin-left: calc(2.25rem * calc(1 - var(--tw-space-x-reverse)));
    gap: 14px;
    padding-bottom: 10px;
}


.focused{
    color: black;
    border-bottom: solid 5px red;
    margin-top: 5px;
    cursor: pointer;
}

.nonFocused{
    color: gray;
    border-bottom:3px;
    border-bottom: solid 5px transparent;
    margin-top: 5px;
    cursor: pointer;
}





